In [70]:
%env PGDATABASE=postgres
%env PGHOST=10.106.80.12
%env PGPORT=5432
%env PGUSER=postgres
%env PGPASSWORD=Earth@1234

env: PGDATABASE=postgres
env: PGHOST=10.106.80.12
env: PGPORT=5432
env: PGUSER=postgres
env: PGPASSWORD=Earth@1234

In [ ]:
!psql < /home/jupyter/pagila/pagila-schema.sql

In [ ]:
!psql < /home/jupyter/pagila/pagila-insert-data.sql

In [73]:
!pwd

/home/jupyter

In [74]:
!psql -c "\dt pagila.*"

             List of relations
 Schema |     Name      | Type  |  Owner
--------+---------------+-------+----------
 pagila | actor         | table | postgres
 pagila | address       | table | postgres
 pagila | category      | table | postgres
 pagila | city          | table | postgres
 pagila | country       | table | postgres
 pagila | customer      | table | postgres
 pagila | film          | table | postgres
 pagila | film_actor    | table | postgres
 pagila | film_category | table | postgres
 pagila | inventory     | table | postgres
 pagila | language      | table | postgres
 pagila | payment       | table | postgres
 pagila | rental        | table | postgres
 pagila | staff         | table | postgres
 pagila | store         | table | postgres
(15 rows)

In [75]:
!psql -c "\d pagila.actor"

                                              Table "pagila.actor"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 actor_id    | integer                  |           | not null | nextval('pagila.actor_actor_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "actor_pkey" PRIMARY KEY, btree (actor_id)
    "idx_actor_last_name" btree (last_name)
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.actor FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [76]:
!psql -c "\d pagila.address"

                                               Table "pagila.address"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 address_id  | integer                  |           | not null | nextval('pagila.address_address_id_seq'::regclass)
 address     | text                     |           | not null |
 address2    | text                     |           |          |
 district    | text                     |           | not null |
 city_id     | smallint                 |           | not null |
 postal_code | text                     |           |          |
 phone       | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "address_pkey" PRIMARY KEY, btree (address_id)
    "idx_fk_city_id" btree (city_id)
Foreign-key constraints:
    "address_city_id_fkey" FOREIGN KEY (city_id) REFERENCES pagila.city(city_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.customer" CONSTRAINT "customer_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.staff" CONSTRAINT "staff_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.store" CONSTRAINT "store_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.address FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [77]:
!psql -c "\d pagila.category"

                                               Table "pagila.category"
   Column    |           Type           | Collation | Nullable |                       Default
-------------+--------------------------+-----------+----------+------------------------------------------------------
 category_id | integer                  |           | not null | nextval('pagila.category_category_id_seq'::regclass)
 name        | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "category_pkey" PRIMARY KEY, btree (category_id)
Referenced by:
    TABLE "pagila.film_category" CONSTRAINT "film_category_category_id_fkey" FOREIGN KEY (category_id) REFERENCES pagila.category(category_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.category FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [78]:
!psql -c "\d pagila.city"

                                             Table "pagila.city"
   Column    |           Type           | Collation | Nullable |                   Default
-------------+--------------------------+-----------+----------+----------------------------------------------
 city_id     | integer                  |           | not null | nextval('pagila.city_city_id_seq'::regclass)
 city        | text                     |           | not null |
 country_id  | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "city_pkey" PRIMARY KEY, btree (city_id)
    "idx_fk_country_id" btree (country_id)
Foreign-key constraints:
    "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.address" CONSTRAINT "address_city_id_fkey" FOREIGN KEY (city_id) REFERENCES pagila.city(city_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.city FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [79]:
!psql -c "\d pagila.country"

                                               Table "pagila.country"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 country_id  | integer                  |           | not null | nextval('pagila.country_country_id_seq'::regclass)
 country     | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "country_pkey" PRIMARY KEY, btree (country_id)
Referenced by:
    TABLE "pagila.city" CONSTRAINT "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.country FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [80]:
!psql -c "\d pagila.customer"

                                                Table "pagila.customer"
   Column    |           Type           | Collation | Nullable |                        Default
-------------+--------------------------+-----------+----------+-------------------------------------------------------
 customer_id | integer                  |           | not null | nextval('pagila.customer_customer_id_seq1'::regclass)
 store_id    | smallint                 |           | not null |
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 email       | text                     |           |          |
 address_id  | smallint                 |           | not null |
 activebool  | boolean                  |           | not null | true
 create_date | date                     |           | not null | 'now'::text::date
 last_update | timestamp with time zone |           |          | now()
 active      | integer                  |           |          |
Indexes:
    "customer_pkey" PRIMARY KEY, btree (customer_id)
    "idx_fk_address_id" btree (address_id)
    "idx_fk_store_id" btree (store_id)
    "idx_last_name" btree (last_name)
Foreign-key constraints:
    "customer_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "customer_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.payment" CONSTRAINT "customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.rental" CONSTRAINT "rental_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.customer FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [81]:
!psql -c "\d pagila.film"

                                                  Table "pagila.film"
        Column        |           Type           | Collation | Nullable |                   Default
----------------------+--------------------------+-----------+----------+----------------------------------------------
 film_id              | integer                  |           | not null | nextval('pagila.film_film_id_seq'::regclass)
 title                | text                     |           | not null |
 description          | text                     |           |          |
 release_year         | pagila.year              |           |          |
 language_id          | smallint                 |           | not null |
 original_language_id | smallint                 |           |          |
 rental_duration      | smallint                 |           | not null | 3
 rental_rate          | numeric(4,2)             |           | not null | 4.99
 length               | smallint                 |           |          |
 replacement_cost     | numeric(5,2)             |           | not null | 19.99
 rating               | pagila.mpaa_rating       |           |          | 'G'::pagila.mpaa_rating
 last_update          | timestamp with time zone |           | not null | now()
 special_features     | text[]                   |           |          |
 fulltext             | tsvector                 |           | not null |
Indexes:
    "film_pkey" PRIMARY KEY, btree (film_id)
    "film_fulltext_idx" gist (fulltext)
    "idx_fk_language_id" btree (language_id)
    "idx_fk_original_language_id" btree (original_language_id)
    "idx_title" btree (title)
Foreign-key constraints:
    "film_language_id_fkey" FOREIGN KEY (language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_original_language_id_fkey" FOREIGN KEY (original_language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.film_category" CONSTRAINT "film_category_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.inventory" CONSTRAINT "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    film_fulltext_trigger BEFORE INSERT OR UPDATE ON pagila.film FOR EACH ROW EXECUTE FUNCTION tsvector_update_trigger('fulltext', 'pg_catalog.english', 'title', 'description')
    last_updated BEFORE UPDATE ON pagila.film FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [82]:
!psql -c "\d pagila.film_actor"

                        Table "pagila.film_actor"
   Column    |           Type           | Collation | Nullable | Default
-------------+--------------------------+-----------+----------+---------
 actor_id    | smallint                 |           | not null |
 film_id     | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "film_actor_pkey" PRIMARY KEY, btree (actor_id, film_id)
    "idx_fk_film_id" btree (film_id)
Foreign-key constraints:
    "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_actor_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.film_actor FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [83]:
!psql -c "\d pagila.film_category"

                      Table "pagila.film_category"
   Column    |           Type           | Collation | Nullable | Default
-------------+--------------------------+-----------+----------+---------
 film_id     | smallint                 |           | not null |
 category_id | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "film_category_pkey" PRIMARY KEY, btree (film_id, category_id)
Foreign-key constraints:
    "film_category_category_id_fkey" FOREIGN KEY (category_id) REFERENCES pagila.category(category_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_category_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.film_category FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [84]:
!psql -c "\d pagila.inventory"

                                                Table "pagila.inventory"
    Column    |           Type           | Collation | Nullable |                        Default
--------------+--------------------------+-----------+----------+--------------------------------------------------------
 inventory_id | integer                  |           | not null | nextval('pagila.inventory_inventory_id_seq'::regclass)
 film_id      | smallint                 |           | not null |
 store_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "inventory_pkey" PRIMARY KEY, btree (inventory_id)
    "idx_store_id_film_id" btree (store_id, film_id)
Foreign-key constraints:
    "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.inventory FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [85]:
!psql -c "\d pagila.language"

                                               Table "pagila.language"
   Column    |           Type           | Collation | Nullable |                       Default
-------------+--------------------------+-----------+----------+------------------------------------------------------
 language_id | integer                  |           | not null | nextval('pagila.language_language_id_seq'::regclass)
 name        | character(20)            |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "language_pkey" PRIMARY KEY, btree (language_id)
Referenced by:
    TABLE "pagila.film" CONSTRAINT "film_language_id_fkey" FOREIGN KEY (language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.film" CONSTRAINT "film_original_language_id_fkey" FOREIGN KEY (original_language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.language FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [86]:
!psql -c "\d pagila.payment"

                                               Table "pagila.payment"
    Column    |           Type           | Collation | Nullable |                      Default
--------------+--------------------------+-----------+----------+----------------------------------------------------
 payment_id   | integer                  |           | not null | nextval('pagila.payment_payment_id_seq'::regclass)
 customer_id  | smallint                 |           | not null |
 staff_id     | smallint                 |           | not null |
 rental_id    | integer                  |           | not null |
 amount       | numeric(5,2)             |           | not null |
 payment_date | timestamp with time zone |           | not null |
Indexes:
    "payment_pkey" PRIMARY KEY, btree (payment_id)
    "idx_fk_customer_id" btree (customer_id)
    "idx_fk_staff_id" btree (staff_id)
Foreign-key constraints:
    "customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_id_fkey" FOREIGN KEY (rental_id) REFERENCES pagila.rental(rental_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT

In [87]:
!psql -c "\d pagila.rental"

                                               Table "pagila.rental"
    Column    |           Type           | Collation | Nullable |                     Default
--------------+--------------------------+-----------+----------+--------------------------------------------------
 rental_id    | integer                  |           | not null | nextval('pagila.rental_rental_id_seq'::regclass)
 rental_date  | timestamp with time zone |           | not null |
 inventory_id | integer                  |           | not null |
 customer_id  | smallint                 |           | not null |
 return_date  | timestamp with time zone |           |          |
 staff_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "rental_pkey" PRIMARY KEY, btree (rental_id)
    "idx_fk_inventory_id" btree (inventory_id)
    "idx_unq_rental_rental_date_inventory_id_customer_id" UNIQUE, btree (rental_date, inventory_id, customer_id)
Foreign-key constraints:
    "rental_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.payment" CONSTRAINT "rental_id_fkey" FOREIGN KEY (rental_id) REFERENCES pagila.rental(rental_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.rental FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [88]:
!psql -c "\d pagila.staff"

                                              Table "pagila.staff"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 staff_id    | integer                  |           | not null | nextval('pagila.staff_staff_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 address_id  | smallint                 |           | not null |
 email       | text                     |           |          |
 store_id    | smallint                 |           | not null |
 active      | boolean                  |           | not null | true
 username    | text                     |           | not null |
 password    | text                     |           |          |
 last_update | timestamp with time zone |           | not null | now()
 picture     | bytea                    |           |          |
Indexes:
    "staff_pkey" PRIMARY KEY, btree (staff_id)
Foreign-key constraints:
    "staff_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "staff_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id)
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.payment" CONSTRAINT "staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.staff FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [89]:
!psql -c "\d pagila.store"

                                                Table "pagila.store"
      Column      |           Type           | Collation | Nullable |                    Default
------------------+--------------------------+-----------+----------+------------------------------------------------
 store_id         | integer                  |           | not null | nextval('pagila.store_store_id_seq'::regclass)
 manager_staff_id | smallint                 |           | not null |
 address_id       | smallint                 |           | not null |
 last_update      | timestamp with time zone |           | not null | now()
Indexes:
    "store_pkey" PRIMARY KEY, btree (store_id)
    "idx_unq_manager_staff_id" UNIQUE, btree (manager_staff_id)
Foreign-key constraints:
    "store_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.customer" CONSTRAINT "customer_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.inventory" CONSTRAINT "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.staff" CONSTRAINT "staff_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id)
Triggers:
    last_updated BEFORE UPDATE ON pagila.store FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

Joins the rental dataset with the customer dataset on the customer_id variable where the store ID from the customer dataset = 2, limits query to first 10 searches after ordering descendingly on rental ID

In [90]:
!psql -c "SELECT c.customer_id, c.store_id, c.first_name, c.last_name, r.rental_id, r.rental_date, r.return_date FROM pagila.customer c INNER JOIN pagila.rental r ON c.customer_id = r.customer_id WHERE c.store_id = 2 ORDER BY r.rental_id DESC LIMIT 10"

 customer_id | store_id | first_name | last_name | rental_id |      rental_date       |      return_date
-------------+----------+------------+-----------+-----------+------------------------+------------------------
         114 |        2 | GRACE      | ELLIS     |     16047 | 2005-08-23 22:42:48+00 | 2005-08-25 02:48:48+00
          14 |        2 | BETTY      | WHITE     |     16045 | 2005-08-23 22:25:26+00 | 2005-08-25 23:54:26+00
         526 |        2 | KARL       | SEAL      |     16043 | 2005-08-23 22:21:03+00 | 2005-08-31 03:09:03+00
         131 |        2 | MONICA     | HICKS     |     16042 | 2005-08-23 22:20:40+00 | 2005-08-24 17:54:40+00
         425 |        2 | FRANCIS    | SIKES     |     16036 | 2005-08-23 22:12:44+00 | 2005-08-25 17:48:44+00
         226 |        2 | MAUREEN    | LITTLE    |     16033 | 2005-08-23 22:06:15+00 | 2005-09-01 02:36:15+00
         137 |        2 | RHONDA     | KENNEDY   |     16030 | 2005-08-23 21:56:04+00 | 2005-08-31 01:24:04+00
         160 |        2 | ERIN       | DUNN      |     16027 | 2005-08-23 21:49:33+00 | 2005-08-30 16:19:33+00
         569 |        2 | DAVE       | GARDINER  |     16025 | 2005-08-23 21:48:54+00 | 2005-08-24 22:05:54+00
         473 |        2 | JORGE      | OLIVARES  |     16024 | 2005-08-23 21:46:47+00 | 2005-08-27 02:06:47+00
(10 rows)

Joins the address dataset with the city dataset on the city_id variable where the city ID from the city dataset is more than 10, limits query to first 10 searches after ordering ascendingly on address_id from address dataset

In [91]:
!psql -c "SELECT c.city_id, c.city, c.country_id, a.address_id, a.address, a.postal_code FROM pagila.city c INNER JOIN pagila.address a ON c.city_id = a.city_id WHERE c.country_id>10 ORDER BY a.address_id ASC LIMIT 10"

 city_id |      city      | country_id | address_id |              address               | postal_code
---------+----------------+------------+------------+------------------------------------+-------------
     300 | Lethbridge     |         20 |          1 | 47 MySakila Drive                  |
     300 | Lethbridge     |         20 |          3 | 23 Workhaven Lane                  |
     463 | Sasebo         |         50 |          5 | 1913 Hanoi Way                     | 35200
     449 | San Bernardino |        103 |          6 | 1121 Loja Avenue                   | 17886
      38 | Athenai        |         39 |          7 | 692 Joliet Street                  | 83579
     349 | Myingyan       |         64 |          8 | 1566 Inegl Manor                   | 53561
     361 | Nantou         |         92 |          9 | 53 Idfu Parkway                    | 42399
     295 | Laredo         |        103 |         10 | 1795 Santiago de Compostela Way    | 18743
     280 | Kragujevac     |        108 |         11 | 900 Santiago de Compostela Parkway | 93896
     200 | Hamilton       |         68 |         12 | 478 Joliet Way                     | 77948
(10 rows)

Joins the actor dataset to the film actor dataset on actor_id ID and tells the films that have an ID above 10, limited to 10 after ordered ascendingly on film_id variable

In [92]:
!psql -c "SELECT DISTINCT a.actor_id, a.first_name, a.last_name, f.film_id FROM pagila.actor a INNER JOIN pagila.film_actor f ON a.actor_id = f.actor_id WHERE f.film_id > 10 ORDER BY f.film_id ASC LIMIT 10"

 actor_id | first_name |  last_name  | film_id
----------+------------+-------------+---------
      174 | MICHAEL    | BENING      |      11
       81 | SCARLETT   | DAMON       |      11
       40 | JOHNNY     | CAGE        |      11
       90 | SEAN       | GUINESS     |      11
      146 | ALBERT     | JOHANSSON   |      12
      180 | JEFF       | SILVERSTONE |      12
       37 | VAL        | BOLGER      |      12
       75 | BURT       | POSEY       |      12
      109 | SYLVESTER  | DERN        |      12
      105 | SIDNEY     | CROWE       |      12
(10 rows)

In [100]:
# The store and customer dataframes are full outer joined
!psql -c "SELECT s.store_id, s.manager_staff_id, c.customer_id, c.email FROM pagila.store s FULL OUTER JOIN pagila.customer c ON s.store_id = c.store_id WHERE s.store_id < 5 LIMIT 10;"

 store_id | manager_staff_id | customer_id |                email
----------+------------------+-------------+-------------------------------------
        1 |                1 |           1 | MARY.SMITH@sakilacustomer.org
        1 |                1 |           2 | PATRICIA.JOHNSON@sakilacustomer.org
        1 |                1 |           3 | LINDA.WILLIAMS@sakilacustomer.org
        1 |                1 |           5 | ELIZABETH.BROWN@sakilacustomer.org
        1 |                1 |           7 | MARIA.MILLER@sakilacustomer.org
        1 |                1 |          10 | DOROTHY.TAYLOR@sakilacustomer.org
        1 |                1 |          12 | NANCY.THOMAS@sakilacustomer.org
        1 |                1 |          15 | HELEN.HARRIS@sakilacustomer.org
        1 |                1 |          17 | DONNA.THOMPSON@sakilacustomer.org
        1 |                1 |          19 | RUTH.MARTINEZ@sakilacustomer.org
(10 rows)

The store and customer dataframes are full outer joined. The columns that are used are store_id, manager_staff_id, customer_id, and email. The store ids that are less than 5 are selected.

In [112]:
!psql -c "SELECT f.film_id, f.title, f.release_year, i.last_update, i.inventory_id FROM pagila.film f LEFT OUTER JOIN pagila.inventory i ON f.film_id = i.film_id WHERE f.release_year = 2006 LIMIT 10"

 film_id |      title       | release_year |      last_update       | inventory_id
---------+------------------+--------------+------------------------+--------------
       1 | ACADEMY DINOSAUR |         2006 | 2017-02-15 10:09:17+00 |            1
       1 | ACADEMY DINOSAUR |         2006 | 2017-02-15 10:09:17+00 |            2
       1 | ACADEMY DINOSAUR |         2006 | 2017-02-15 10:09:17+00 |            3
       1 | ACADEMY DINOSAUR |         2006 | 2017-02-15 10:09:17+00 |            4
       1 | ACADEMY DINOSAUR |         2006 | 2017-02-15 10:09:17+00 |            5
       1 | ACADEMY DINOSAUR |         2006 | 2017-02-15 10:09:17+00 |            6
       1 | ACADEMY DINOSAUR |         2006 | 2017-02-15 10:09:17+00 |            7
       1 | ACADEMY DINOSAUR |         2006 | 2017-02-15 10:09:17+00 |            8
       2 | ACE GOLDFINGER   |         2006 | 2017-02-15 10:09:17+00 |            9
       2 | ACE GOLDFINGER   |         2006 | 2017-02-15 10:09:17+00 |           10
(10 rows)

The film and inventory dataframes are left outer joined. The columns selected are film id, title, release year, last update, and inventory id. The release year of 2006 is filtered.

In [116]:
!psql -c "SELECT r.rental_id, r.rental_date, p.amount, p.payment_date FROM pagila.rental r RIGHT OUTER JOIN pagila.payment p ON p.rental_id = r.rental_id WHERE p.amount > 10 LIMIT 10;"

 rental_id |      rental_date       | amount |         payment_date
-----------+------------------------+--------+-------------------------------
       860 | 2005-05-30 02:45:16+00 |  10.99 | 2017-01-30 01:13:42.996577+00
       135 | 2005-05-25 21:58:58+00 |  10.99 | 2017-01-25 20:27:24.996577+00
       691 | 2005-05-29 01:01:26+00 |  10.99 | 2017-01-28 23:29:52.996577+00
       163 | 2005-05-26 02:26:23+00 |  10.99 | 2017-01-26 00:54:49.996577+00
       106 | 2005-05-25 18:18:19+00 |  11.99 | 2017-01-25 16:46:45.996577+00
      2784 | 2005-06-19 18:40:29+00 |  10.99 | 2017-02-19 17:08:55.996577+00
      2166 | 2005-06-17 23:51:21+00 |  11.99 | 2017-02-17 22:19:47.996577+00
      2306 | 2005-06-18 08:33:23+00 |  10.99 | 2017-02-18 07:01:49.996577+00
      2966 | 2005-06-20 07:39:33+00 |  10.99 | 2017-02-20 06:07:59.996577+00
      1718 | 2005-06-16 14:52:02+00 |  10.99 | 2017-02-16 13:20:28.996577+00
(10 rows)

The rental and payments dataframes are right outer joined. The rental id, rental date, amount, and payment date are selected. The amount that is greater than 10 is filtered

In [120]:
!psql -c "SELECT DISTINCT f1.title, f1.rating, f2.title FROM pagila.film f1 JOIN pagila.film f2 ON f1.film_id != f2.film_id AND f1.rating = f2.rating LIMIT 10"

         title          | rating |          title
------------------------+--------+-------------------------
 AGENT TRUMAN           | PG     | STOCK GLASS
 DINOSAUR SECRETARY     | R      | DATE SPEED
 CONFIDENTIAL INTERVIEW | NC-17  | ISLAND EXORCIST
 BOOGIE AMELIE          | R      | TROOPERS METAL
 DIRTY ACE              | NC-17  | ALIEN CENTER
 BRIDE INTRIGUE         | G      | DESPERATE TRAINSPOTTING
 BLUES INSTINCT         | G      | BUGSY SONG
 EFFECT GLADIATOR       | PG     | STAGE WORLD
 COWBOY DOOM            | PG     | FERRIS MOTHER
 ARGONAUTS TOWN         | PG-13  | ROSES TREASURE
(10 rows)

The film dataframe is joined with itself. The movies with the same ratings are paired together.